*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Merriweather', serif;
  background-color: #EEF1FF;

}
.navbar{
  display: flex;
  align-items: center;
  justify-content:space-around;
  background-color: #FEFCF3;
}
.navbar__brand{
  width: 100px;
}
.navbar_logo{
  width: 100%;
}
.button_primary{
  background-image: linear-gradient(
    to right,
    #FF0032 0%,
    #FA7070 50%,
    #FF0032 100%
    );
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}

.button_primary:hover{
  border: 2px solid #FF9494;
  cursor: pointer;
}
.container{
  max-width: 100%;
  padding: 20px;
}
.hero_image{
  width: 100%;
  margin: 0 auto;
}
.hero__image__container{
  width:100% ;
  border-radius: 8px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}
.hero_size{
  font-weight: 800;
  color: #00005C;
  font-size:32px;
  margin: 20px 0;
}
.food_card_description{
  padding: 15px;
}
.food__card{
  background-color: #FCFFE7;
}
.food__card_image_container{
  width: 100%
}
.pasta_image{
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: auto;
}
.explore_menu_list{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: #00005C;
  font-size:28px;
}
@media (min-width: 768px) {
  .explore_menu_list{
    display: flex;
    margin-top: 50px;
    gap:15px;
  }
  .explore_more_menu{
    position: relative;
  }
  .explore_menu_gradient{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(
      to right,
      #FF0032 0%,
      #FA7070 50%,
      #FF0032 100%
      );
      z-index: -3;
      transform: skewY(-5deg);

  }
  #pasta_card{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  #biriyani_card{
    margin top: -90px;
  }
  #icecream_card{
    margin-top: -90px;
    margin-bottom: -20px;
    margin-right: 10px;
  }
  .explore_menu{
    text-align: center;
    margin-top: 50px;
    font-size: 38px;;
  }
  .navbar{
    justify-content: space-between;
    padding: 10px 30px;
  }
  .hero_container{
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .container{
    max-width: 90%;
  }
  .explore_menu{
    font-size: 48px;
  }
  .explore_more_menu{
    position: relative;
  }
  .explore_menu_gradient{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(
      to right,
      #FF0032 0%,
      #FA7070 50%,
      #FF0032 100%
      );
      z-index: -3;
      transform: skewY(-5deg);

  }
  .navbar__brand{
    width: 150px;
  }
  .navbar__items{
    padding: 30px;
    font-size: 30px;
    border-radius: 6px ;
  }
  .hero__description{
    width: 100%;
  }
  .hero_size{
    font-size: 50px;
  }

.explore_menu_list{
    gap:25px;

}


}
